{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="font-weight-light">Centro Odontológico DENT SALUD</h1>
                    <p>Para comunicarte con nosotras:</p>
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppTurnero/WA.jpg' %}"/><p>3515110110</p>
                    <p>Apúntante con nosotras para mejorar, tratar o cuidar tu boca.</p>
                    <a class="btn btn-primary" href="{% url 'Agenda' %}">Agéndate. Te esperamos!</a>

{% endblock %}

{% block encabezado %}
<div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppTurnero/WA.jpg' %}"  alt="..." /></div>
<div class="container px-4 px-lg-5"><p class="m-0 text-center text-white"></p></div>

{% endblock %}