{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="font-weight-light">Centro Odontológico DENT SALUD</h1>
                    <p>Para comunicarte con nosotras:</p>
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppTurnero/Meet_us.png' %}"/>
                    <p></p>
                    <p>Apúntante con nosotras para cuidar, mejorar o tratar tu boca.</p>
                    <p></p>
                    <a class="btn btn-primary" href="{% url 'Agenda' %}"> Agéndate!</a>

{% endblock %}

{% block encabezado %}

La boca, que es un conjunto de órganos y tejidos, es importante para tener una buena nutrición y mejor tu calidad de vida.

{% endblock %}