{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="font-weight-light">Centro Odontológico DENT SALUD</h1>
                    <p>En nuestro centro odontológico, encontrarás profesionales dedicadas a tu salud bucal.</p>
                    <p>Apúntante con nosotras para mejorar, tratar o cuidar tu boca.</p>
                    
                

{% endblock %}

{% block subtitulo %}

<form action="" method="POST"> {% csrf_token %}

    {{formulario.as_p}}

    <button type="submit">Iniciar Sesion</button>
</form>

{% endblock %}


{% block pie %}

BIENVENIDOS. La boca, que es un conjunto de órganos y tejidos, es importante para tener una buena nutrición y mejor calidad de vida.

{% endblock %}