{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="font-weight-light">Centro Odontológico DENT SALUD</h1>
                    <p>En nuestro centro odontológico, encontrarás profesionales dedicadas a tu salud bucal.</p>
                    <p>Apúntante con nosotras para mejorar, tratar o cuidar tu boca.</p>
                    <a class="btn btn-primary" href="{% url 'Agenda' %}">Agéndate. Te esperamos!</a>

{% endblock %}

{% block pie %}

BIENVENIDOS. La boca, que es un conjunto de órganos y tejidos, es importante para tener una buena nutrición y mejor calidad de vida.

{% endblock %}