{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}
    <h1 class="font-small">Lista de Profesionales</h1>
{% endblock %}

{% block subtitulo %}
    
    {% for prof in professional %}
    <p>ID Profesional: {{prof.id_profesional}}</p>
    <p>Nombre Profesional: {{prof.nombre}}</p>
    <p>Apellido Profesional: {{prof.apellido}}</p>
    <p>Mail Profesional: {{prof.mail}}</p>
    <p>Cuit Profesional: {{prof.cuit}}</p>
    <p>Razón Social Profesional: {{prof.razon_social}}</p>
    <p>Especialidad Profesional: {{prof.especialidad}}<p>

        <button> 
            <a href="{% url 'EditarProfesional' prof.nombre %}">Editar</a>
        </button> 
    
        <button> 
            <a href="{% url 'EliminarProfesional' prof.nombre %}">Eliminar</a>
        </button> 
    
        <br>
        ----------------------

    {% endfor %}
    {% endblock %}
    
    {% block pie %}
        LISTA DE PROFESIONALES
    {% endblock %}