<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for prof in professional %}
    <p>Nombre Profesional: {{prof.nombre}}</p>
    <p>Apellido Profesional: {{prof.apellido}}</p>
    <p>Mail Profesional: {{prof.mail}}</p>
    <p>Cuit Profesional: {{prof.cuit}}</p>
    <p>Razón Social Profesional: {{prof.razon_social}}</p>
    <p>Especialidad Profesional: {{prof.especialidad}}<p>

        ###### 

    {% endfor %}
</body>
</html>