{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="font-weight-light">Centro Odontológico DENT SALUD</h1>
                    <p></p>
                    <a class="btn btn-primary" href="{% url 'Inicio' %}">Iniciar Sesión.</a>                    


{% endblock %}

{% block pie %}

BIENVENIDOS. La boca, que es un conjunto de órganos y tejidos, es importante para tener una buena nutrición y mejor calidad de vida.
En Dent Salud, sabemos que la salud dental es una parte importante de tu bienestar general. 
Por eso, nuestro equipo de profesionales se esfuerza por brindarte un servicio de calidad en un ambiente acogedor y amigable. 
Nos preocupamos por tu comodidad y por ofrecerte tratamientos eficientes que se ajusten a tus necesidades individuales.

{% endblock %}