{% extends "AppTurnero/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="font-weight-light">Ingrese los datos de Profesionales</h1>
{% endblock %}


{% block subtitulo %}

    {% if user.is_authenticated %}
        {% if user.is_superuser %}

        <form method="POST">

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Confirmar los Cambios</button>
        </form>


        {% else %}

        {% endif %}
    
    {% else %}

    {% endif %}

{% endblock %}

{% block pie %}

    DENT SALUD - ALTA FORMULARIO PROFESIONALES 
{% endblock %}