{% extends "AppTurnero/padre.html" %}

{% load static %}
    
{% block titulo %}
<h1 class="font-weight-light">Ingrese los datos de Profesionales</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    

    <from action="" method="post"> 
        
        {% csrf_token %} 

        <table>

            {{valor1.as_p}}

        </table>

        <button type="submit">Guardar</button>
        

    </from>

{% endblock %}
    
{% block encabezado %}

    DENT SALUD. PROFESIONALES 
{% endblock %}
    

</body>



</html>